.Icon {
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;

  &_type {
    &_required {
      width: 0.6rem;
      height: 1.8rem;
      background-image: url('/assets/required.svg');
    }

    &_clear {
      width: 1.6rem;
      height: 1.6rem;
      background-image: url('/assets/clear.svg');
    }

    &_settings {
      width: 1.2rem;
      height: 1.2rem;
      background-image: url('/assets/settings.svg');
    }

    &_play {
      width: 0.9rem;
      height: 1rem;
      background-image: url('/assets/play.svg');
    }

    &_rebuild {
      width: 1.2rem;
      height: 1.2rem;
      background-image: url('/assets/rebuild.svg');
    }
    
    &_codeCommit {
      width: 1.6rem;
      height: 0.8rem;
      background-image: url('/assets/codeCommit.svg');
    }

    &_person {
      width: 1.2rem;
      height: 1.4rem;
      background-image: url('/assets/person.svg');
    }

    &_calendar {
      width: 1.4rem;
      height: 1.6rem;
      background-image: url('/assets/calendar.svg');
    }

    &_timer {
      width: 1.3rem;
      height: 1.6rem;
      background-image: url('/assets/timer.svg');
    }

    &_success {
      background-image: url('/assets/done.svg');
    }

    &_fail, &_canceled {
      background-image: url('/assets/fail.svg');
    }

    &_waiting, &_inProgress{
      background-image: url('/assets/pending.svg');
    }

    &_success,
    &_fail,
    &_waiting,
    &_canceled,
    &_inProgress {
      width: 2.1rem;
      height: 2.1rem;

      @media (max-width: $screen-mobile) {
        width: 1.4rem;
        height: 1.4rem;
      }
    }

    &_logo {
      width: 12.4rem;
      height: 12.4rem;
      background-image: url('/assets/logo.svg');
    }
  }
}