.Modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-background);

  &_visible {
    display: block;

    .Modal-Wrapper {
      display: flex;
    }
  }

  &-Wrapper {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width: 485px;
    padding: var(--space-xxxxl);
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0px 6px 16px var(--shadow),
      0px 0px 1px var(--shadow);
  }
}